{% extends 'base.html.twig' %}

{% block body %}
<section id="section1" class="">
    <h2 class="center-align">{{ '#Trouve ton métier !' |upper }}</h2>
    {% block content %}
    {% endblock %}
    
</section>
{% endblock %}