{% extends 'app/layout.html.twig' %}

{% block content %}

<div class="row">
    <div id="searchBar" class="col s4 offset-s4">
        <input placeholder="edit me" id="searchField1">
    </div>
</div>

{% endblock %}