{% extends 'app/layout.html.twig' %}

{% block content %}

    <h1>Welcome to NGDO's Symfony StarterKit !</h1>
    <p>This is the index page. You can edit it in app/Resources/views/app/main/index.html.twig !</p>

    <div id="app-6">
        <p>${ message }</p>
        <input v-model="message">
    </div>

{% endblock %}