{% extends 'app/layout.html.twig' %}

{% block content %}

    <h1>Welcome on NGDO's Symfony StarterKit !</h1>
    <p>This is the index page. You can edit it in app/Resources/views/app/main/index.html.twig !</p>

{% endblock %}