<h1 class="white-text">{{ 'Mondial des métiers' |upper }}</h1>
<h3 class="white-text">{{ '#Trouve ton métier !' |upper }}</h3>
<a href="#section1" class="white-text" id="scrollToSection1"><i class="material-icons">arrow_downward</i></a>